@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    background-color: #202632;
    line-height: 1.1;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;

}


.mainquete {
    display: flex;
    background-color: #313a49;
    width: 100%;
    max-width: 23rem;
    padding: 6rem;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 12rem;
    gap: 1rem;
    position: relative;
}

.border {
    margin-top: -1rem;
}

p {
    font-size: 1.8rem;
    color: #cee2e8;
    margin-bottom: 2rem;
    line-height: 2.5rem;
    width: 28rem
        /* Adjusted for better readability */

}


.icon {
    position: absolute;
    bottom: -2rem;
    width: 6rem;
    height: 6rem;
    background-color: #53ffab;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

span {
    color: #53ffab;
    font-size: 1.1rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
}

.icon img {
    width: 1.5rem;
    /* Adjusted size for the image icon */
    height: auto;
    /* Zachovanie pomeru strán obrázka */
    cursor: pointer;
    /* Zmena kurzora na pointer pri hoveri */
}

@media only screen and (max-width: 600px) {
    .mainquete {
        padding: 3rem;
        margin-top: 10rem;
        margin-left: 1rem;
        /* Add margin to the left */
        margin-right: 1rem;
        /* Add margin to the right */
        width: 58%;
    }

    span {
        margin-top: -1rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        width: 100%;
        max-width: 20rem;
    }

    .icon {
        width: 4rem;
        height: 4rem;
        bottom: -1rem;
    }

    .icon img {
        width: 1rem;
    }

    .border img {
        margin-top: -1rem;
        margin-bottom: 1rem;
        width: 70%;
    }
}